/* Media Mixins */
@mixin media($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 80em) {
      @content;
      // 1280px
    }
  }

  @if $breakpoint == tab {
    @media only screen and (max-width: 61.9375em) {
      @content;
      // 991px
    }
  }

  @if $breakpoint == tab-small {
    @media only screen and (max-width: 46.0625em) {
      @content;
      // 737px
    }
  }

  @if $breakpoint == phone-big {
    @media only screen and (max-width: 37.5em) {
      @content;
      // 600px
    }
  }

  @if $breakpoint == phone-big-2 {
    @media only screen and (max-width: 30em) {
      @content;
      // 480px
    }
  }

  @if $breakpoint == phone-medium {
    @media only screen and (max-width: 25.875em) {
      @content;
      // 414px
    }
  }

  @if $breakpoint == phone-small {
    @media only screen and (max-width: 21.25em) {
      @content;
      // 340px
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
      // 1800px
    }
  }

  @if $breakpoint == big-desktop-4k {
    @media only screen and (min-width: 150em) {
      @content;
      // 2400px
    }
  }
}

/* HTML */
* {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headers */

.navbar-brand {
  @include media(phone-medium) {
    font-size: 1.8rem !important;
  }
}

.section-header {
  font-size: 1.5rem;
  font-weight: 800;
  color: #202528;

  @include media(phone-medium) {
    font-size: 1rem;
  }
}

.title-header {
  font-size: 3.5rem;
  line-height: 1.5;

  @include media(tab-port) {
    font-size: 2.5rem;
  }

  @include media(phone-big) {
    font-size: 2.25rem;
  }

  @include media(phone-medium) {
    font-size: 2rem;
    margin-top: -1rem;
  }

  @include media(phone-small) {
    font-size: 1.7rem;
    margin-top: -1.75;
  }

  @include media(big-desktop) {
    font-size: 4rem;
  }

  @include media(big-desktop-4k) {
    font-size: 5rem;
  }
}

/* Container*/

.container-fluid {
  padding: 7% 15%;

  scroll-behavior: smooth !important;
}

/* Title Section */

#title {
  color: #fff;
  background-image: linear-gradient(to right bottom, #ff4d69, #ec6f64);
  font-weight: 900;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-dark {
  color: white;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-brand:hover {
  color: white;
}

.nav-item {
  padding: 0 18px;
  font-family: "Montserrat";
  font-weight: 100;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.3s;

  @include media(big-desktop) {
    font-size: 1.525rem;
  }

  @include media(big-desktop-4k) {
    font-size: 2rem;
  }
}

.nav-link:hover {
  color: #332f27;
  transform: translateY(-2px);
}

.navbar-toggler {
  color: #fff;
}

.tog-icon {
  color: #fff3fa;
  font-size: 28px;
}

/* Title Image */

.iphone-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

  @include media(tab) {
    display: none;
  }

  @include media(big-desktop) {
    width: 35%;
    right: 45%;
  }
}

/* Title Text */

.title-details {
  margin-top: 5%;
}

/* Title Buttons */

.button-secondary,
.button-secondary:link,
.button-secondary:visited {
  background-color: #343a40;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 5px;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  @include media(tab-port) {
    font-size: 1rem;
  }

  @include media(phone-medium) {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  @include media(phone-small) {
    font-size: 0.7rem;
  }

  @include media(big-desktop-4k) {
    font-size: 2rem;
  }

  &:hover {
    background-color: #212529;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }

  &:active {
    background-color: #212529;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
  }

  &:focus {
    outline: none;
  }
}

.button-outline-secondary,
.button-outline-secondary:link,
.button-outline-secondary:visited {
  font-family: "Montserrat";
  background-color: transparent;
  text-decoration: none;
  font-size: 1.275rem;
  font-weight: 300;
  color: #f5f5f5;
  border-color: #f8f9fa;
  border-width: 0.03rem;
  border-style: solid;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-top: 20px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  @include media(tab-port) {
    font-size: 1rem;
  }

  @include media(phone-medium) {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }
  @include media(phone-small) {
    font-size: 0.7rem;
  }

  @include media(big-desktop-4k) {
    font-size: 2rem;
  }

  &:hover {
    background-color: #f5f5f5;
    color: #1e2125;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
  }

  &:focus {
    outline: none;
  }
}

a:not([href]) {
  color: #f5f5f5;

  &:hover {
    color: #f5f5f5;
    text-decoration-color: transparent;
  }
}

.button-container {
  display: inline-block;
}

/* Features Section */

#features {
  background-color: #fff;
  z-index: 1;
  /* en este caso no hace falta que el z-index este, pero le da mas claridad al codigo */
  position: relative;

  @include media(big-desktop) {
    font-size: 1.5rem;
  }

  @include media(big-desktop-4k) {
    font-size: 2rem;
  }
}

.features-margin {
  margin-bottom: 1rem;
}

.features-text {
  @include media(phone-small) {
    font-size: 0.8rem;
  }
}

.col-lg-4 {
  padding: 4rem;

  @include media(tab) {
    padding-bottom: 0rem;
    padding-top: 3rem;
  }

  @include media(phone-small) {
    padding-top: 2rem;
  }
}

.ft-icon {
  color: #ef8172;
  transition: all 0.3s;

  @include media(phone-small) {
    font-size: 4rem;
  }
}

.ft-icon:hover {
  color: #ff4c68;
  transform: scale(1.03);
}

/* Testimonials Section */
#testimonials {
  background-image: linear-gradient(to right, #ff4d69, #ec6f64);
  color: #fff;
}

#testimonials .container-fluid {
  padding: 7% 15% 5%;
  @include media(phone-big) {
    padding: 20% 15% 10%;
  }
}

.testimonial-text {
  font-size: 3.5rem;
  line-height: 1.5;

  @include media(tab-port) {
    font-size: 2rem;
  }

  @include media(phone-big) {
    font-size: 1.5rem;
  }

  @include media(phone-small) {
    font-size: 1.25rem;
  }
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-image: linear-gradient(to right, #ff4d69, #ec6f64);
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;

  overflow-x: hidden;
}

.press-images {
  width: 25%;
  margin-left: 30px;
  margin-right: 30px;

  @include media(tab-port) {
    margin-left: 15px;
    margin-right: 15px;
  }

  @include media(phone-big) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include media(phone-medium) {
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* Pricing section */

.pricing-card {
  padding: 3% 2%;
}

.title-header__pricing {
  @include media(phone-big) {
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.title-header__paragraph {
  @include media(phone-big) {
    font-size: 0.8rem;
  }
}

.card {
  transition: transform 0.4s;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.3);
  &:hover {
    transform: scale(1.05);
  }

  &-header {
    height: 14rem;
    background-size: cover;
    position: relative;
    border: none;
    z-index: 1;

    @include media(tab-port) {
      height: 10rem;
    }

    @include media(tab) {
      height: 28rem;
    }

    @include media(tab-small) {
      height: 22rem;
    }

    @include media(phone-big) {
      height: 18rem;
    }

    @include media(phone-big-2) {
      height: 14rem;
    }

    @include media(phone-medium) {
      height: 12rem;
    }

    @include media(phone-small) {
      height: 10rem;
    }

    @include media(big-desktop) {
      height: 20rem;
    }

    @include media(big-desktop-4k) {
      height: 24rem;
    }

    &__chihuahua {
      background-image: url(./images/chihuahua.jpg);
    }
    &__labrador {
      background-image: url(./images/labrador.jpg);
    }
    &__mastiff {
      background-image: url(./images/mastiff.jpg);
    }

    .section-header {
      color: white;
      background-image: linear-gradient(to right, #ff4d69, #ec6f64);
      padding: 0.6rem 1rem;
      position: absolute;
      font-size: 1rem;
      bottom: 0;
      right: 0;
      border-radius: 5%;
      margin-bottom: -1rem;

      @include media(tab-port) {
        font-size: 0.65rem;
      }

      @include media(tab) {
        font-size: 1rem;
      }

      @include media(phone-medium) {
        font-size: 0.8rem;
      }

      &__recommended {
        color: white;
        background-image: linear-gradient(
          to right,
          transparent,
          #ff4d69,
          #3a1f5d,
          transparent
        );
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
        padding: 1.5rem 5rem 1.5rem 8rem;
        position: absolute;
        top: 0;
        right: 0;
        background-size: cover;
        &-text {
          font-size: 0.7rem;
          text-transform: uppercase;
          position: absolute;
          top: 0.35rem;
          right: 0.5rem;
        }
      }
    }
  }
}

.recommended-icon {
  margin-left: 0.35rem;
  color: gold;
}

.title-header__card {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 1rem;

  @include media(tab-port) {
    font-size: 1.75rem;
  }

  @include media(tab) {
    font-size: 2.25rem;
  }
}

.a-container {
  margin: 1rem auto;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(-1px);
  }
}

.price-button,
.price-button:link,
.price-button:visited {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to right, #ff4d69, #ec6f64);
  padding: 0.8rem 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;

  @include media(tab-port) {
    padding: 0.8rem 3rem;
  }

  @include media(tab) {
    padding: 0.8rem 6rem;
  }

  @include media(phone-big-2) {
    padding: 0.8rem 4rem;
  }

  &:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  }
  &:active {
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.3);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.price-item {
  display: flex;

  align-items: center;
  justify-content: center;
  @include media(tab-port) {
    font-size: 0.7rem;
  }

  @include media(tab) {
    font-size: 1rem;
  }

  @include media(phone-small) {
    font-size: 0.8rem;
  }
}

.price-icon-check {
  position: absolute;
  right: 0;
  font-size: 1rem;
  color: #5c8c3e;
}
.price-icon-cross {
  position: absolute;
  right: 0.23rem;
  font-size: 1rem;
  color: #ff4c68;
}

/* Call to action section */

#cta {
  background-image: linear-gradient(to right, #ff4d69, #ec6f64);
}

.call-to-action-header {
  font-family: "Montserrat";
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;

  @include media(tab-port) {
    font-size: 3rem;
  }

  @include media(tab) {
    font-size: 2rem;
  }

  @include media(phone-big) {
    font-size: 1.9rem;
  }

  @include media(phone-medium) {
    font-size: 1.5rem;
  }

  @include media(phone-small) {
    font-size: 1.25rem;
  }

  @include media(big-desktop-4k) {
    font-size: 4rem;
  }
}

.download-button-gplay {
  background-color: #fff;
  color: #202528;
}

.download-button-gplay:hover {
  border-color: #fff;
}

/* Footer section */

#footer {
  padding: 7% 15% 0;
  background-color: #fff;
}

.footer-icon,
.footer-icon:visited,
.footer-icon:link {
  margin: 20px 10px 3rem;
  color: #ff4c68;
  transition: all 0.3s;
  text-decoration: none;

  @include media(phone-medium) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  @include media(big-desktop-4k) {
    font-size: 3rem;
    margin: 20px 20px 3rem;
  }
}

.footer-icon:hover {
  color: #e36869;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Screen size specifications */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .iphone-image {
    position: static;
    transform: rotate(0);
  }

  .btn-secondary {
    margin-bottom: 1em;
  }

  .btn-outline-secondary {
    margin-bottom: 1em;
  }
}

// 404 ERROR

.error__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include media(tab) {
    flex-direction: column;
  }
}

.error__content {
  margin-left: 5rem;
  @include media(tab) {
    margin-top: 10rem;
    margin-left: 0;
  }
}

.error__image {
  height: 35rem;

  @include media(tab) {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 15rem;
  }
}

.no-match {
  height: 100vh;
}

.big-text {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;

  @include media(tab) {
    font-size: 3rem;
  }
}

.text {
  @include media(tab) {
    font-size: 1.5rem;
  }
}
